# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node dependencies
/node_modules

# Env vars
.env

# Secure configs
configs/*.secure.js
configs/*.secure.json

# Misc
.DS_Store
