@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* :root {
  --clr-primary: #7286d3;
  --clr-secondary: #8ea7e9;
  --clr-tertiary: #e5e0ff;
  --clr-quaternary: #fff2f2;
} */

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  /* font-family: "Acme", sans-serif; */
  /* font-family: "Tilt Warp", cursive; */
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Custom scroll bar */
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #002855;
}
::-webkit-scrollbar-thumb {
  background: #023e7d;
}
::-webkit-scrollbar-thumb:hover {
  background: #0466c8;
}

/* Tailwind Buttons */
.btn {
  @apply text-white rounded-full px-4 py-2 hover:bg-tertiary font-semibold duration-700;
}

.btn-primary {
  @apply bg-primary;
}
.btn-secondary {
  @apply bg-quaternary;
}
.btn-sc {
  @apply text-white rounded-full px-4 py-2 font-semibold duration-700;
}
/* Styles for form pages */
.form-container {
  @apply min-h-[100vh] max-h-fit grid lg:grid-cols-2 grid-cols-1 place-items-center md:bg-contain bg-no-repeat bg-cover md:bg-left bg-right py-5;
}

.form-box {
  @apply align-middle md:col-start-2 rounded-lg grid justify-items-stretch p-5 lg:w-4/6 md:w-5/6 w-11/12 shadow-xl;
}

/* Glass Morphism */

.glass {
  @apply bg-slate-400 bg-clip-padding backdrop-filter backdrop-blur-lg border overflow-hidden bg-opacity-20;
}

.selector {
  /* user-drag: none; */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.msg-box {
  @apply bg-white w-fit py-1 px-3 mt-2 rounded-full shadow-md mx-auto;
}
